.header{
  position: absolute;
  margin-top:-475px;
  align-self: center;
}




.header-container{


  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
 


}


.bothAbout {
    display: flex;
    justify-content: space-between; /* center horizontally */
    gap: 40px; /* adds space between the two buttons */
    margin-top: 30px; /* space above the about buttons */
   
  }
 
  .aboutDetailed,
.aboutBasic {
  position: relative; /* makes child absolute positions relative to these */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}




  .detailedDescription {
    position: absolute;
    top: 60px; /* appears right below the button */
    left: 0;
    width: 200px;
    background-color: #d6e4f0;
    color: #282c34;
    padding: 10px;
    border: 1px solid #0f0e0e;
    border-radius: 8px;
    z-index: 10;
    font-size: 15px;
  }
 
  .basicDescription {
    position: absolute;
    top: 60px;
    right: 0; /* Pulls it back inside the container */
    width: 200px;
    background-color: #d6e4f0;
    color: #282c34;
    padding: 10px;
    border: 1px solid #0f0e0e;
    border-radius: 8px;
    z-index: 10;
    font-size: 15px;
  }






  #image{
    margin-top: -170px; /* move image up */
    width: 350px;       /* resize image width */
    height: auto;    
  }


