

/* Homepage background */
.homepage {
  background-color: #F9FAFB;
  min-height: 100vh;
  width: 100%;
}

/* Navbar */
.top-navbar {
  background-color: #284a72;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
}

/* Navbar Text */
.top-navbar .navbar-brand {
  color: #F9FAFB;
  font-weight: bold;
  font-size: 24px;
}

.user-greeting {
  color: #F9FAFB;
  font-weight: bold;
  align-self: center;
}

/* Quiz Section */
.quiz-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quiz-cards {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual card styles */
.quiz-card {
  width: 300px;
  padding: 40px;
  background-color: #D6E4F0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
  color: #2C3E50;
  transition: transform 0.2s;
}

.quiz-card:hover {
  transform: translateY(-5px);
}

.quiz-card .card-title {
  font-weight: bold;
  font-size: 22px;
}

.quiz-card .card-text {
  font-size: 16px;
}

/* Buttons inside cards */
.quiz-card .btn-primary {
  background-color: #3F72AF;
  border: none;
  margin-top: 10px;
  width: 100%;
}

.quiz-card .btn-primary:hover {
  background-color: #2C3E50;
}

.quiz-card .btn-link {
  color: #3F72AF;
  margin-top: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.quiz-card .btn-link:hover {
  color: #2C3E50;
}

.about-text {
  margin-top: 10px;
  background-color: #F9FAFB;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #2C3E50;
}
.hero-banner {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #2C3E50;
}

.hero-banner h1 {
  font-size: 36px;
  color: #3F72AF;
}

.hero-banner p {
  font-size: 18px;
  margin-top: 10px;
}



.about-button {
  background-color: #3F72AF;
  color: white;
  font-weight: bold;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 40px; /* increased from 40px to 80px */
 margin-bottom: 30px;
}

.about-button:hover {
  background-color: #2C3E50;
}
